<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Products</title>
 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
 <link rel="stylesheet" 
 href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 <style>
  html{
   padding:50px;
  }
  form {
    width: 300px;
    margin: 0 auto;
}
 </style>
</head>

<body  style = "background:     #f78888;">
      <div class = "container" style = "background: #f1e9d2;">
            <div class="page-header text-center">
                <h1>Edit Product</h1>
                <a href = "/profile" class ="btn btn-danger btn-sm">Dashboard</a>
                <a href = "/products" class ="btn btn-danger btn-sm">Products</a>
                <a href="/logout" class="btn btn-danger btn-sm">Logout</a>  
                 </div>
                 
                  <br><br>
        <div class="page-data" style = "background-color: #f5f7fa">
            
            <form method="post" action="/products/edit/<%=data[0].productID%>">
                <table cellpadding="11">
                   <br><br>
                <tr>
                    <label for="name">Name :</label>
                    <input type="text" name="name" value="<%=data[0].name%>" required></td>
                 </tr>
                 <br><br>
                 <tr>
                     <label for="category">Category :</label> 
                  <input type="text" name="category" value="<%=data[0].category%>" required></td>
               </tr>
               <br><br>
                <tr>
                     <label for="quantity">Quantity :</label>
                    <input type="text" value="<%=data[0].quantity%>" name="quantity" required></td>
                 </tr>
                 <br><br>
                 <tr>
                     <label for = "expiration">Expiration :</label>
                      <input type="date" value="<%=data[0].expiration%>" name="expiration" required ></td>
               </tr>
               <br><br>
                 <tr>
                     <label for = "calories">Calories :</label>
                    <input type="text" value="<%=data[0].calories%>" name="calories" required></td>
                 </tr>
                 <br><br>
                 <tr>
                     <label for = "serving">Serving :</label>
                    <input type="text" value="<%=data[0].serving%>" name="serving" required></td>
                 </tr>
                 <br><br>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="window.location.href = '/products'">
                    </td>
                 </tr>
                 
                </table>
            </form>
            
        </div>
      </div>
        
      </body>
      </html>